{
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-decorators",
    [
      "module-resolver",
      {
        "alias": {
          "@/": "./src"
        }
      }
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browserslist": "> 0.25%, not dead",
          "useBuiltIns": "usage"
        }
      }
    ]
  ]
}
