{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "env": { "browser": true, "node": true },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin", "react"],
  "root": true,
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off"
  }
}
